<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="renderer" content="webkit">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

 <meta name="keywords" content="汇丰体验中心" />
 <meta name="description" content="汇丰体验中心" />

 <title>汇丰体验中心</title>


</head>
<body>
  <link rel="stylesheet" type="text/css" href="css/vue_transition.css"/>
  <link rel="stylesheet" type="text/css" href="css/indexStyle.css?v=4"/>
  <div id="loading" class="">
    <div class="loadingGif"><img src="img/public/loading.gif"/></div>
  </div>
  <div id="app">
    <!--首页-->
    <transition name="bb">
      <div class="warning" v-if="waringState">
        <div class="container">
          <div class="text">{{warningText}}</div>
          <div class="close" @click="closeWarning">关闭</div>
          <div class="sure" v-if="sureState" @click="sureGift">确定</div>
        </div>
      </div>
    </transition>
    <transition name="du">
      <div id="page1" v-if="pageState1">
        <div class="start" @click="goPages(1)"><img src="img/page1/start.png"/></div>
      </div>
    </transition>
    <!--昵称-->
    <transition name="du">
      <div id="page2" v-if="pageState2">
        <div class="show">
          <div class="title"><img src="img/page2/text1.png"/></div>
          <div class="ipt "><input type="text" v-model="nickName"/></div>
          <div class="text2"><img src="img/page2/text2.png"/></div>
        </div>          
        <div class="enter" @click="createNickName"><img src="img/page2/enter.png"/></div>
      </div>
    </transition>
    <!--主页面-->
    <transition name="du">
      <div id="page3" v-if="pageState3">
        <div class="main">
          <transition :name="transClass" >
            <!--挑战项目-->
            <div class="box1" v-if="boxState1">
              <div class="boxContent1">
                <div class="mainBg"><img src="img/program1/main.jpg"/></div>
                <div class="tips">
                  <div class="tip1" @click="checkTip(0)"><img src="img/program1/pro1.png"/></div>
                  <div class="tip2" @click="checkTip(1)"><img src="img/program1/pro2.png"/></div>
                  <div class="tip3" @click="checkTip(2)"><img src="img/program1/pro3.png"/></div>
                  <div class="tip4" @click="checkTip(3)"><img src="img/program1/pro4.png"/></div>
                  <div class="tip5" @click="checkTip(4)"><img src="img/program1/pro5.png"/></div>
                  <div class="tip6" @click="checkTip(5)"><img src="img/program1/pro6.png"/></div>
                </div>
              </div>

            </div>
          </transition>
          <!--能量收集-->
          <transition :name="transClass"  >
            <div class="box2" v-if="boxState2">
              <div class="energyBox">
                <div class="energy1">
                  <img :src="energy2==0?'img/engine1/position2_0.png':'img/engine1/position2.png'"/></div>
                  <div class="energy2">
                    <img :src="energy3==0?'img/engine1/position1_0.png':'img/engine1/position1.png'"/></div>
                    <div class="energy3">
                      <img :src="energy1==0?'img/engine1/position3_0.png':'img/engine1/position3.png'"/></div>
                      <div class="energy4">
                        <img :src="energy4==0?'img/engine1/position5_0.png':'img/engine1/position5.png'"/></div>
                        <div class="energy5">
                          <img :src="energy5==0?'img/engine1/position4_0.png':'img/engine1/position4.png'"/></div>
                          <div class="energy6">
                            <img :src="energy6==0?'img/engine1/position6_0.png?v=2':'img/engine1/position6.png?v=2'"/></div>
                          </div>
                          <div class="footer">
                            <img src="img/engine1/text1.png"/>
                          </div>
                        </div>
                      </transition>
                      <!--礼品兑换-->
                      <transition :name="transClass"  >
                        <div class="box3" v-if="boxState3">
                          <div class="giftBox">
                            <div class="gift" @click="chooseGift" data-power="2" data-gift="gift1"><div class="text"><img src="img/gift/txt1_1.png"/></div><div class="giftPic"><img src="img/gift/gift1.jpg"/></div></div>
                            <div class="gift" @click="chooseGift" data-power="3" data-gift="gift2"><div class="text"><img src="img/gift/txt2_1.png"/></div><div class="giftPic"><img src="img/gift/gift2.jpg"/></div></div>
                            <div class="gift" @click="chooseGift" data-power="4" data-gift="gift3"><div class="text"><img src="img/gift/txt3_1.png"/></div><div class="giftPic"><img src="img/gift/gift3.jpg"/></div></div>
                            <div class="gift" @click="chooseGift" data-power="5" data-gift="gift4"><div class="text"><img src="img/gift/txt4_1.png"/></div><div class="giftPic"><img src="img/gift/gift4.jpg"/></div></div>
                            <div class="gift" @click="chooseGift" data-power="6" data-gift="gift5"><div class="text"><img src="img/gift/txt5_1.png"/></div><div class="giftPic"><img src="img/gift/gift5.jpg"/></div></div>
                          </div>
                          <div class="footer"><img src="img/program1/text.png"/></div>
                        </div>
                      </transition>
                    </div>
                    <!--固定菜单-->
                    <transition name="uu">
                      <div class="menu">
                        <div :class="menuClass1" @click="changeMenu(1)">挑战项目</div>
                        <div :class="menuClass2" @click="changeMenu(2)">能量收集</div>
                        <div :class="menuClass3" @click="changeMenu(3)">礼品兑换</div>
                      </div>
                    </transition>

                    <transition name="dd">
                      <div class="showBox" v-if="showBoxState">
                        <div class="noticePic"><img :src="chooseIntro"/><span @click="scanQRcode"></span></div>
                        <div class="arrow" @click="closeShowBox"><img src="img/public/arrow.png"/></div>
                      </div>
                    </transition>

                    <transition name="dd">
                      <div class="prizeBox" v-if="giftResultState">
                        <div class="container">
                          <div class="prize">
                            <div class="pic"><img :src="giftResultPic"/></div>
                            <div class="prizeText"><img src="img/gift/text2.png"/></div>
                            <div class="code">[2503]</div>
                          </div>                
                        </div>
                        <div class="arrow" @click="closeGiftResult"><img src="img/public/arrow.png"/></div>
                      </div>
                    </transition>
                  </div>
                </transition>
                <input type="hidden" id="user_id" value="{$-user_id}">
                <script src="https://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
                <script src="https://cdn.bootcss.com/vue-resource/1.3.1/vue-resource.min.js"></script>
                <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
                <script type="text/javascript" src="js/main.js?v=8" ></script>
              </div>
            </body>
            </html>